.vscode/**
.gitignore
esbuild.js
extension.js
samples/**
node_modules/**
!node_modules/mermaid/dist/mermaid.min.js
!node_modules/mathjax/es5/tex-svg.js
!node_modules/@shikijs/core/**
!node_modules/@shikijs/engine-javascript/**
!node_modules/@shikijs/langs/**
**/*.map
**/.DS_Store
